In [434]:
# groub_by_name = df.groupby("Name")
# print(groub_by_name.head())
# 

# x all columns except credit score

print(df.head())


# category_type = df['Type_of_Loan'].value_counts(normalize=True)
# df['Type_of_Loan'] = df['Type_of_Loan'].map(category_type)

     ID  Customer_ID  Month           Name   Age          SSN Occupation  \
0  5634         3392      1  Aaron Maashoh  23.0  821000265.0  Scientist
1  5635         3392      2  Aaron Maashoh  23.0  821000265.0  Scientist
2  5636         3392      3  Aaron Maashoh  23.0  821000265.0  Scientist
3  5637         3392      4  Aaron Maashoh  23.0  821000265.0  Scientist
4  5638         3392      5  Aaron Maashoh  23.0  821000265.0  Scientist

   Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  Auto Loan  \
0       19114.12            1824.843333                3.0  ...       True
1       19114.12            1824.843333                3.0  ...       True
2       19114.12            1824.843333                3.0  ...       True
3       19114.12            1824.843333                3.0  ...       True
4       19114.12            1824.843333                3.0  ...       True

   Student Loan  Payday Loan  Home Equity Loan  Personal Loan  No Data  \
0         False        False              True           True    False
1         False        False              True           True    False
2         False        False              True           True    False
3         False        False              True           True    False
4         False        False              True           True    False

   Mortgage Loan Not Specified  Credit-Builder Loan  Debt Consolidation Loan
0          False         False                 True                    False
1          False         False                 True                    False
2          False         False                 True                    False
3          False         False                 True                    False
4          False         False                 True                    False

[5 rows x 37 columns]

0        2
1        2
2        2
3        2
4        2
        ..
99995    0
99996    0
99997    0
99998    1
99999    0
Name: Credit_Score, Length: 100000, dtype: int64

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_Score,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments
0,1,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,49.574949,21.465380,312.494089,Good,False,False,True,False,False,False
1,2,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,49.574949,21.465380,284.629162,Good,False,False,False,True,False,False
2,3,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,49.574949,21.465380,331.209863,Good,False,False,False,False,True,False
3,4,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,49.574949,21.465380,223.451310,Good,False,False,False,False,False,True
4,5,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,49.574949,21.465380,341.489231,Good,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,4,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,"Auto Loan, and Student Loan",...,35.104023,24.028477,479.866228,Poor,True,False,False,False,False,False
99996,5,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,"Auto Loan, and Student Loan",...,35.104023,24.028477,496.651610,Poor,False,True,False,False,False,False
99997,6,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,"Auto Loan, and Student Loan",...,35.104023,24.028477,516.809083,Poor,True,False,False,False,False,False
99998,7,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,"Auto Loan, and Student Loan",...,35.104023,24.028477,319.164979,Standard,False,False,False,True,False,False
99999,8,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,"Auto Loan, and Student Loan",...,35.104023,24.028477,393.673696,Poor,False,True,False,False,False,False

In [419]:
df.isnull().sum()

Month                       0
Age                         0
Occupation                  0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
Credit_Score                0
dtype: int64

In [452]:
from sklearn.feature_selection import SelectKBest, chi2

X = df.drop("Credit_Score", axis=1)  # Features
X = X.drop(['Customer_ID', 'ID',"SSN"], axis=1)
y = df["Credit_Score"]  # Target variable
for i in X.columns:
    if X[i].dtype == "object":
        X = X.drop(i,axis=1)

Index(['Annual_Income', 'Monthly_Inhand_Salary', 'Outstanding_Debt',
       'Credit_History_Age', 'Monthly_Balance'],
      dtype='object')